/* ================== */
/* === TYPOGRAPHY === */
/* ================== */

h1,h2,h3,h4,p,a,li,input{font-family:Tahoma, Verdana, Segoe, sans-serif;}
h1{font-size:26px;line-height:32px;font-weight:700;color:$blue;}
h1.large{font-size:32px;font-weight:300;line-height:42px;}
h2{font-size:18px;line-height:24px;font-weight:300;}
p,li{font-size:14px;line-height:22px;font-weight:300;}
ul,ol,li{list-style:none;}
a{text-decoration:none;transition:all .2s ease-in-out;}
strong{font-weight:bold;}

/* ================== */
/* === BUTTONS ====== */
/* ================== */

.main-btn{font-weight:800;color:$blue;
	&:hover{color:$lt_green;
		i.main-btn-icon{color:$lt_green;border-color:$lt_green;}
	}
}
i.main-btn-icon{text-align:center;color:$blue;border-radius:40px;border:2px solid $blue;margin-right:10px;width:25px;height:25px;padding:4px 0 0 3px;transition:.2s ease-in-out;}

/* ================== */
/* === OTHER BASE === */
/* ================== */

*{box-sizing:border-box;}
svg{fill:white;}
.main-wrap{width:1200px;position:relative;margin:0 auto;height:100%;max-width:90%;min-width:55%;}
.clearfix{
	&:before, &:after{content: "";display:table;} 
	&:after{clear:both;}
}
.mobile-only{display:none;}
.mobile-hide{display:block;}
.has-shadow{background-image:url('../img/content-shadow-top-full.png');background-position:center -6px;background-size:contain;background-repeat:no-repeat;}