/* ================== */
/* === HEADER ======= */
/* ================== */

header{height:100px;background-color:$white;border-bottom:10px solid $green;position:relative;z-index:1;
	.logo,.menu-main-nav-container{@include vert-align(50%,-50%);display:inline-block;}
	svg:hover{opacity:.8;}
	.menu-main-nav-container{float:right;
		li{display:inline-block;height:100%;position:relative;
			&:last-child a{padding-right:0px;border-right:none;}
			ul{display:none;position:absolute;top:19px;background-color:rgba($white, .9);padding:0;text-align:center;border:1px solid $blue;left:-5px;
				li{width:100%;
					&:last-child a{padding:10px;border-right:1px solid $blue;}
				}
				a{border-right:none;padding:10px;border:1px solid $blue;line-height:16px;font-weight:300;text-align:left;}
			}
			&:hover ul{display:block;
				li:hover ul{display:block;position:absolute;left:0px;top:-1px;right:-115px;left:100%;}
				ul{display:none;}
			}
			&.has-children:after{content:"\f067";font-family:FontAwesome;position:absolute;right:10px;top:50%;transform:translateY(-50%);color:$blue;}
			&.current-menu-item, &.current-page-ancestor{
				a{color:$green;}
				ul li{
					a{color:$blue;
						&:hover{color:$green;}
					}
				}
			}
		}
		a{display:block;font-size:14px;padding:0 24px 5px;font-weight:700;color:$blue;text-transform:uppercase;border-right:2px solid $lt_green;
			&:hover{color:$green;}
		}
	}
	.mobile-menu-trigger{display:none;}
}

/* ================== */
/* === FOOTER ======= */
/* ================== */

footer{background-color:$grey;padding:30px 0;
	.main-wrap{text-align:center;}
	.social{display:inline-block;width:auto;
		li{display:inline-block;}
		a{display:block;width:40px;height:40px;text-align:center;background-color:$lt_green;border-radius:40px;margin-right:10px;
			&:hover{background-color:$white;@include transform(translateY(-2px));
				i{color:$lt_green;}
			}
		}
		i{color:$white;font-size:20px;@include vert-align(50%,-50%);transition:all .2s ease-in-out;}
	}
	nav{height:40px;display:inline-block;width:auto;/*margin-left:40px;*/
		ul{@include vert-align(50%,-50%);}
		li{display:inline-block;}
		a{color:$white;padding:0 25px;
			&:hover{color:$lt_green;}
		}
	}
	.fineprint{color:$white;margin-top:25px;
		p:last-of-type{font-size:10px;}
		a{color:$white;
			&:hover{color:$lt_green;}
		}
	}
}