/* ==================== */
/* === TOP BANNER ===== */
/* ==================== */

.top-banner{background-color:$green;padding:10px 0;text-align:center;
	h1{font-weight:300;letter-spacing:2px;color:$white;}
}

/* ========================= */
/* === FEATURED IMAGES ===== */
/* ========================= */

.featured-image img{width:100%;height:auto;display:block;}

/* ==================== */
/* === SLIDER ===== */
/* ==================== */

.slider{position:relative;width:100vw;overflow:hidden;
	ul{width:10000px;transition:all .5s ease-in-out;
		&.no-transition{transition:none;}
	}
	li{display:inline-block;float:left;width:100vw;position:relative;
		img{width:100%;height:auto;display:block;}
	}
	.slide-overlay{position:absolute;background-color:rgba($white,.8);top:0;bottom:0;height:305px;margin:auto;left:10%;padding:25px;max-width:31%;
		img{max-width:160px;margin-bottom:20px;}
		h1{margin-bottom:10px;}
		p{margin-bottom:20px;}
	}
	.control{position:absolute;top:0;bottom:0;margin:auto;width:30px;height:67px;z-index:1;
		i{color:$white;font-size:90px;@include vert-align(50%,-50%);}
	}
	.next{right:25px;}
	.prev{left:25px;}
}

/* ==================== */
/* === FULL TEXT ===== */
/* ==================== */

.full-text{padding:30px 0;text-align:center;background-color:$cream;
	h1{color:$green;margin-bottom:5px;}
	p{max-width:80%;margin:0 auto;}
}

/* ============================ */
/* === 3 COLUMN ICON GRID ===== */
/* ============================ */

.three-col-icon{background-color:$white;padding:40px 0;text-align:center;
	h1{margin-bottom:45px;}
	.column{border-right:2px solid $lt_green;text-align:center;
		h2{max-width:75%;margin:0 auto 15px;;text-transform:uppercase;min-height:50px;}
		&:nth-child(n+4){border-right:none;}
		img{margin-bottom:10px;}
		p{min-height:111px;max-width:85%;margin:0 auto 15px;}
	}
}

/* ============================ */
/* === INLINE VIDEO ===== */
/* ============================ */

.inline-video{padding:40px 0;background-color:$green;
	.main-btn:hover{color:$blue;
		i{color:$blue;border-color:$blue;}
	}
	h1,h2,p,a,i{color:$white;}
	i{border-color:$white;}
	h1{margin-bottom:4px;}
	h2,p{margin-bottom:15px;}
	.vid iframe{width:100%;}
	.vid-info{padding-top:20px;padding-bottom:20px;}
}

/* ================================ */
/* === BACKGROUND IMG W/ TEXT ===== */
/* ================================ */

.background-img-text{padding:60px 0;background-size:cover;
	.text{margin-left:40%;}
	h1{margin-bottom:30px;}
	p{max-width:80%;margin-bottom:20px;}
}

/* ================================ */
/* === BACK TO TOP BUTTON ===== */
/* ================================ */

#back-to-top{position:fixed;bottom:15px;right:-40px;width:40px;text-align:center;height:40px;background-color:rgba($blue, .8);
	i{color:$white;@include vert-align(50%,-50%);font-size:24px;}
	&.visible{@include transform(translateX(-55px));}
}

/* ====================== */
/* === TWITTER FEED ===== */
/* ====================== */

#twitter-feed{background:url('../img/feed-bg.png') no-repeat;padding:30px 0;background-size:cover;text-align:center;overflow:hidden;
	.icon-head{color:$white;font-size:24px;margin-bottom:15px;}
	.control{position:absolute;top:0;bottom:0;margin:auto;width:20px;height:40px;z-index:1;
		i{font-size:40px;color:$white;}
	}
	ul{width:10000px;position:relative;display:block;height:auto;transition:all .3s ease-in-out;
		&.no-transition{transition:none;}
	}
	li{display:inline-block;float:left;width:100vw;transition:all .2s ease-in-out;
		// &.active{opacity:1;}
		p{font-size:16px;line-height:24px;max-width:80%;margin:0 auto;	}
	}
	.prev{left:0px;}
	.next{right:0px;}
	p,a{color:$white;margin-bottom:5px;line-height:30px;}
}

/* ==================== */
/* === NEWS/EVENTS ==== */
/* ==================== */

.news-events{text-align:center;padding:50px 0;background-color:$cream;
	.event{border-right:2px solid $green;min-height:415px;
		&:nth-child(3){border-right:none;}
	}
	h2{text-transform:uppercase;margin-bottom:20px;}
	strong{font-weight:bold;color:$blue;}
	p{margin-top:0px;max-width:90%;margin:0 auto;}
	.main-btn{display:block;margin-top:20px;}
	.news-content{min-height:200px;}
}

/* ====================== */
/* === TEAM MEMBERS ===== */
/* ====================== */

#team-members{padding:60px 0;
	.list-trigger{display:block;width:100%;color:$white;text-align:center;background-color:$blue;padding:5px 0;margin-bottom:5px;font-weight:300;font-size:32px;
		i{margin-left:8px;font-size:22px;vertical-align:middle;}
		&.open{background-color:$white;color:$green;border-top:4px solid $green;}
		&:hover{opacity:.8;}
		&:focus{outline:none;}
	}
	.team-list{display:none;margin-top:30px;
		.employee{padding-right:50px;min-height:350px;}
		h2{font-weight:800;color:$green;margin:6px 0 4px;}
		p{color:$dark_grey;font-size:14px;line-height:22px;
			span{color:$blue;text-transform:uppercase;font-weight:800;
				&:hover{color:$green;}
			}
		}
		img{width:150px;height:200px;}
	}
}

/* ====================== */
/* === AJAX MODALS ===== */
/* ====================== */

#post-modal{position:fixed;width:60vw;height:auto;background:white;z-index:2;top:50%;@include transform(translateY(-50%));left:0;right:0;margin:auto;opacity:0;visibility:hidden;transition:all .2s ease-in-out;padding:45px;overflow-y:scroll;
	&.active{opacity:1;visibility:visible;}
	.fa-close{position:absolute;top:15px;right:15px;font-size:16px;color:$white;border-radius:20px;background-color:$grey;transition:all .2s ease-in-out;width:20px;height:20px;text-align:center;line-height:20px;cursor:pointer;opacity:.9;
		&:hover{@include transform(scale(1.2));opacity:1;}
	}
	img{float:right;margin:0 0 30px 30px;width:150px;height:200px;}
	h2{text-transform:uppercase;font-size:20px;color:$blue;font-weight:800;margin-bottom:4px;}
	p:first-of-type{font-size:16px;margin-bottom:10px;}
	p + p{margin-top:10px;}
}

/* ====================== */
/* === DARK OVERLAYS ==== */
/* ====================== */

#full-overlay{position:fixed;width:100vw;height:100vh;background-color:rgba($black, .7);top:0;bottom:0;left:0;right:0;margin:auto;z-index:1;display:none;}

/* ====================== */
/* === JUMP LINKS ==== */
/* ====================== */

.jump-links, .services-links{width:100%;text-align:center;padding:30px 0;
	nav{display:block;
		li{display:inline-block;
			&:last-of-type a{padding-right:0px;border-right:none;}
		}
		a{padding:20px;color:$blue;font-size:16px;text-transform:uppercase;font-weight:800;display:block;border-right:2px solid $green;
			&:hover{color:$green;}
			&.current{color:$green;}
		}
	}
}

/* =============================== */
/* === SERVICE LINKS SPECIFIC ==== */
/* =============================== */

.services-links{
	nav{height:85px;
		li{max-width:15%;border-right:2px solid $green;height:100%;margin-left:-4px;
			&:last-of-type a{padding-right:20px;}
		}
		a{display:table-cell;vertical-align:middle;font-size:14px;border:none;}
	}
}

/* ====================== */
/* === COMPANY TOP ==== */
/* ====================== */

.company-top{background-color:$cream;padding-top:60px;padding-bottom:50px;margin-right:0;margin-left:0;
	p{color:$grey;
		+ p{margin-top:20px;}
	}
	.quicklinks{border-left:2px solid $green;padding-left:30px;
		h3{font-size:18px;color:$green;font-weight:300;margin-bottom:30px;}
		li{margin-bottom:12px;}
		a{color:$blue;font-weight:800;line-height:22px;
			&:hover{color:$green;}
		}
	}
}

/* ====================== */
/* === VALUES ==== */
/* ====================== */

.values{padding:60px 0 30px;margin-left:0;margin-right:0;background-color:$cream;
	*{text-align:center;}
	h1{color:$green;margin-bottom:45px;}
	h2{border-top:2px solid $green;border-bottom:2px solid $green;padding:10px 0;max-width:75%;margin:0 auto;color:$blue;font-family:"Georgia", serif;margin-bottom:20px;text-transform:uppercase;font-size:20px;}
	p{max-width:75%;margin:0 auto;min-height:160px;margin-bottom:20px;}
	&.green-background{background-color:$green;
		h1{color:$white;}
		h2{color:$white;border-color:$blue;}
		p{color:$white;min-height:100px;}
	}
}

/* ====================== */
/* === CONTACT ==== */
/* ====================== */

.contact{
	.contact-content{background-image:url('../img/content-shadow-top-full.png');background-position:center -6px;background-size:contain;background-repeat:no-repeat;padding-top:60px;}
	.featured-image img{margin-bottom:0px;display:block;}
	.full-text h1{line-height:32px;margin-bottom:0;}
	h1,h2{color:$green;}
	.form-fields{border-right:2px solid $green;margin-bottom: 20px;padding-right:30px;
		h1{text-transform:uppercase;margin-bottom:15px;font-size:20px;}
	}
	.contact-info{padding-left:30px;
		a{color:$blue;font-weight:bold;
			&:hover{color:$green;}
		}
		p{max-width:80%;}
	}
	.info-block{margin-bottom:30px;}
}

/* ================== */
/* === FORM ======= */
/* ================== */

form {font-family: Tahoma, Verdana, Segoe, sans-serif;margin: 0;padding: 0;border: 0;vertical-align: baseline;margin-bottom: 30px;
	p {text-transform: uppercase;font-size: 12px;line-height: 22px;
		.small, small {font-size: 85%;}
	}
	.form-group {margin-bottom: 15px;text-transform: uppercase;font-size: 12px;line-height: 22px;}
	.form-control {display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 2px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
	label {text-transform: uppercase;font-size: 12px;line-height: 22px;}
	.required {color: red;}
	.checkbox-inline, .radio-inline {position: relative;display: inline-block;padding-left: 20px;margin-bottom: 0;font-weight: 400;vertical-align: middle;cursor: pointer;}
	.checkbox-inline input[type=checkbox] {position: absolute;margin-left: -16px;}
	input[type=checkbox] {margin: 5px 0 0;margin-top: 1px\9;line-height: normal;}
	button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button;cursor: pointer;background-color: #28317D;color: #fff;text-transform: uppercase;font-size: 12px;padding: 12px 20px;border: none;margin-bottom: 10px;}
}

/* =========================== */
/* === PRODUCT HEADER ======== */
/* =========================== */

.product-header{background-color:$cream;padding:30px 0;
	.product-tagline{height:100px;border-right:2px solid $green;
		h1{color:$green;font-size:36px;margin-left:30px;font-weight:100;}
	}
	.product-icon img{max-width:230px;height:auto;margin-left:50px;}
}

/* =========================== */
/* === PRODUCT INFO ======== */
/* =========================== */

.product-info{padding:65px 0 50px;
	h1{color:$green;margin-bottom:30px;}
	p + p{margin-top:30px;}
}

/* =========================== */
/* === PRODUCT BULLETS ======= */
/* =========================== */

.product-bullets{padding:65px 0 50px;background-color:$cream;
	h1{color:$green;margin-bottom:30px;}
	li{list-style:initial;list-style-position:inside;color:$green;
		span{color:$grey;}
		+ li{margin-top:20px;}
	}
}

/* ================================ */
/* === TWO COLUMN PROD INFO ======= */
/* ================================ */

.two-column-product-details{background-color:$green;text-align:center;padding:20px 0;
	h1{color:$white;text-transform:uppercase;margin:20px 0;}
	.info-container{background-color:$white;padding:40px 20px;border-radius:15px;
		h2{border-top:2px solid $green;display:inline-block;width:auto;border-bottom:2px solid $green;padding:10px 0;margin:0 auto;color:$blue;font-family:"Georgia", serif;margin-bottom:30px;text-transform:uppercase;font-size:24px;}
		img{max-width:90%;margin:0 auto 30px;}
		h3{color:$green;font-size:20px;margin-bottom:15px;}
		p{max-width:85%;margin:0 auto;}
		.product{margin-bottom:50px;min-height:400px;}
		a{color:$blue;font-weight:800;
			i{margin-left:5px;pointer-events:none;}
		}
		.hidden-content{display:none;}
	}
}

/* ================================ */
/* === PROD FULL WIDTH 2 COLUMN === */
/* ================================ */

.two-column-full{padding:60px 0;background-color:$cream;text-align:center;
	img{max-width:100%;margin:0 auto 30px;}
	h3{color:$green;font-size:24px;margin-bottom:15px;font-weight:800;}
	p{max-width:85%;margin:0 auto;}
	a{color:$blue;
		i{margin-left:5px;pointer-events:none;}
	}
	.prod-info{margin-bottom:30px;}
	.hidden-content{display:none;}
	&.what-we-do{background-color:$white;}
	&.what-we-provide{background-color:$white;text-align:left;
		p{max-width:90%;margin:0 0 20px;}
		img{max-width:90%;margin:0 auto 30px;}
		.prod-info{padding:0 30px;}
		h3{text-align:center;max-width:90%;}
	}
}

/* ================================ */
/* === PROD BG IMAGE MODULE ======= */
/* ================================ */

.product-bg-image{background:url('../img/prod-bg.png') no-repeat;padding:60px 0;background-size:cover;text-align:center;
	h3,p,a{color:$white;}
	h3{font-weight:800;margin-bottom:15px;font-size:22px;}
	a{font-weight:800}
}

/* =========================== */
/* === SERVICES SLIDER ======= */
/* =========================== */

#services-slider{background-color:$green;padding:30px 0;
	.title-area{position:relative;width:100%;text-align:center;margin-bottom:50px;
		.service-arrow{position:absolute;top:0;bottom:0;margin:auto;color:#fff;font-size:42px;
			&.prev{left:0;opacity:.3;pointer-events:none;}
			&.next{right:0;}
		}
	}
	.content-area{background-color:$white;padding:30px;min-height:250px;border-radius:8px;
		li{display:none;
			&.active{display:block;}
		}
	}
	h2{color:#fff;font-size:36px;font-weight:300;display:inline-block;margin-top:10px;line-height:42px;}
}

/* =========================== */
/* === PRODUCT CALLOUT ======= */
/* =========================== */

.product-callout{padding:50px 0;
	.product-column{border-right:2px solid $green;min-height: 500px;
		&:nth-child(3){border-right:none;}
	}
	.inner{padding:0 30px;}
	.product-icon{max-width:60%;}
	img{max-width:85%;margin:0 auto;display:block;margin-bottom:30px;}
	p{margin-bottom:30px;}
}

/* =========================== */
/* === CONTENT AREA ======= */
/* =========================== */

.main-content-area{padding:50px 0;color:$white;
	&.blue-bg{background-color:$blue;}
	p+p{margin-top:20px;}
}

/* =========================== */
/* === WHAT WE DO CONTENT ==== */
/* =========================== */

.what-we-do-content{padding:50px 0;
	.slide-triggers{border-right:2px solid $green;padding-left:30px;
		li{margin-bottom:12px;color:$blue;font-weight:800;line-height:22px;font-size:16px;cursor:pointer;
			&:hover, &.active{color:$green;}
		}
	}
	.slide-container{padding-left:30px;
		.slide{display:none;
			&:first-of-type{display:block;}
			h2{color:$green;margin-bottom:10px;font-size:20px;}
		}
		.main-btn{margin-top:10px;display:inline-block;}
		// ul:not(.slide-container){list-style-type:circle;margin:10px 0 10px 10px;}
		// li:not(.slide){list-style:circle inside;}
	}
	.mobile-menu-trigger{display:none;}
}