/* ==================== */
/* === TOP BANNER ===== */
/* ==================== */

.top-banner{background-color:$green;padding:10px 0;text-align:center;
	h1{font-weight:300;letter-spacing:2px;color:$white;}
}

/* ========================= */
/* === FEATURED IMAGES ===== */
/* ========================= */

.featured-image img{width:100%;height:auto;margin-bottom:40px;}

/* ==================== */
/* === SLIDER ===== */
/* ==================== */

#slider{position:relative;width:100vw;overflow:hidden;
	ul{width:10000px;transition:all .5s ease-in-out;
		&.no-transition{transition:none;}
	}
	li{display:inline-block;float:left;width:100vw;position:relative;
		img{width:100%;height:auto;display:block;}
	}
	.slide-overlay{position:absolute;background-color:rgba($white,.8);top:0;bottom:0;height:305px;margin:auto;left:10%;padding:25px;max-width:31%;
		img{max-width:160px;margin-bottom:20px;}
		h1{margin-bottom:10px;}
		p{margin-bottom:20px;}
	}
	.control{position:absolute;top:0;bottom:0;margin:auto;width:30px;height:67px;z-index:1;
		i{color:$white;font-size:90px;@include vert-align(50%,-50%);}
	}
	.next{right:25px;}
	.prev{left:25px;}
}

/* ==================== */
/* === INTRO ===== */
/* ==================== */

.intro{padding:30px 0;text-align:center;background-color:$off_grey;
	h1{color:$green;margin-bottom:20px;}
	p{max-width:80%;margin:0 auto;}
}

/* ============================ */
/* === 3 COLUMN ICON GRID ===== */
/* ============================ */

.three-col-icon{background-color:$white;padding:40px 0;text-align:center;
	h1{margin-bottom:45px;}
	.column{border-right:1px solid $lt_green;text-align:center;
		h2{max-width:75%;margin:0 auto 15px;;text-transform:uppercase;min-height:50px;}
		&:nth-child(n+4){border-right:none;}
		img{margin-bottom:10px;}
		p{min-height:111px;max-width:85%;margin:0 auto 15px;}
	}
}

/* ============================ */
/* === INLINE VIDEO ===== */
/* ============================ */

.inline-video{padding:40px 0;background-color:$green;}

/* ================================ */
/* === BACKGROUND IMG W/ TEXT ===== */
/* ================================ */

.background-img-text{background:url('../img/story-bg.png') no-repeat;padding:60px 0;background-size:cover;
	.text{margin-left:40%;}
	h1{margin-bottom:30px;}
	p{max-width:80%;margin-bottom:20px;}
}

/* ====================== */
/* === TWITTER FEED ===== */
/* ====================== */

.twitter-feed{background:url('../img/feed-bg.png') no-repeat;padding:30px 0;background-size:cover;text-align:center;overflow:hidden;
	.icon-head{color:$white;font-size:24px;margin-bottom:15px;}
	.control{position:absolute;top:0;bottom:0;margin:auto;width:20px;height:40px;z-index:1;
		i{font-size:40px;color:$white;}
	}
	ul{width:10000px;position:relative;display:block;height:auto;transition:all .3s ease-in-out;
		&.no-transition{transition:none;}
	}
	li{display:inline-block;float:left;width:100vw;transition:all .2s ease-in-out;opacity:0;
		&.active{opacity:1;}
		p{font-size:16px;line-height:24px;max-width:80%;margin:0 auto;	}
	}
	.prev{left:0px;}
	.next{right:0px;}
	p,a{color:$white;margin-bottom:5px;line-height:30px;}
}

/* ====================== */
/* === TEAM MEMBERS ===== */
/* ====================== */

.team-members{
	a{display:block;width:100%;color:$white;text-align:center;background-color:$green;padding:5px 0;margin-bottom:5px;font-weight:300;font-size:32px;
		i{margin-left:8px;}
		&.open{background-color:$white;color:$green;border-top:4px solid $green;}
	}
	.team-list{display:none;}
}

/* ====================== */
/* === AJAX MODALS ===== */
/* ====================== */

#post-modal{position:fixed;width:90vw;height:90vh;background:white;z-index:2;top:0;bottom:0;left:0;right:0;margin:auto;opacity:0;visibility:hidden;transition:all .2s ease-in-out;
	&.active{opacity:1;visibility:visible;}
}

/* ====================== */
/* === DARK OVERLAYS ==== */
/* ====================== */

#full-overlay{position:fixed;width:100vw;height:100vh;background-color:rgba($black, .8);top:0;bottom:0;left:0;right:0;margin:auto;z-index:1;display:none;}

/* ====================== */
/* === COMPANY TOP ==== */
/* ====================== */

.company-top{margin-bottom:60px;
	.jump-links{padding-right:30px;
		nav{display:block;margin-bottom:30px;
			li{display:inline-block;
				&:last-of-type a{padding-right:0px;}
			}
			a{padding-right:30px;color:$blue;font-size:16px;text-transform:uppercase;font-weight:800;display:block;
				&:hover{color:$green;}
			}
		}
	}
	p{color:$grey;
		+ p{margin-top:20px;}
	}
	.quicklinks{border-left:1px solid $green;padding-left:30px;
		h3{font-size:18px;color:$green;font-weight:300;margin-bottom:30px;}
		li{margin-bottom:12px;}
		a{color:$blue;font-weight:800;line-height:22px;
			&:hover{color:$green;}
		}
	}
}

/* ====================== */
/* === VALUES ==== */
/* ====================== */

#values{
	*{text-align:center;}
	h1{color:$green;margin-bottom:45px;}
	h2{border-top:1px solid $green;border-bottom:1px solid $green;padding:10px 0;max-width:75%;margin:0 auto;color:$blue;font-family:"Georgia", serif;margin-bottom:20px;}
	p{max-width:75%;margin:0 auto;min-height:140px;margin-bottom:20px;}
}