/* ================== */
/* === BASE ========= */
/* ================== */

@include bp(mobile){
	h1{font-size:20px;line-height:28px;}
	h1.large{font-size:28px;line-height:36px;}
	.mobile-only{display:block;}
	.mobile-hide{display:none;}
}

/* ================== */
/* === HEADER ======= */
/* ================== */

header{
	@include bp(tablet){
		svg{width:250px;height:auto;}
	}
	@include bp(sm-tablet){
		svg{width:200px;height:auto;}
		.menu-main-nav-container{display:none;position:absolute;top:80px;transform:none;background:white;right:-5%;z-index:1;padding:20px;
			li{display:block;
				&:last-child a{padding:10px 30px;}
				ul{position:relative;top:0;display:block;border:none;background-color:transparent;
					li:last-child a{border-right:none;padding:10px 20px;}
					a{border:none;font-size:12px;color:$green;text-transform:none;}
				}
			}
			a{text-align:center;padding:10px 30px;border-right:none;}
		}
		.mobile-menu-trigger{display:block;float:right;@include vert-align(50%,-50%);font-size:28px;color:$blue;cursor:pointer;}
	}
	@include bp(mobile){border-bottom:4px solid #25A549;height:80px;}
}

/* ================== */
/* === LAYOUT ======= */
/* ================== */

/* ================== */
/* === MODULES ====== */
/* ================== */

.slider{
	@include bp(tablet){
		.slide-overlay{display:none;}
	}
	@include bp(mobile){
		.control i{font-size:50px;}
		.control{width:20px;height:30px;}
		.next{right:8px;}
		.prev{left:8px;}
	}
}

.full-text{
	@include bp(mobile){padding:20px 0;
		p{max-width:100%;}
	}
}

.three-col-icon{
	@include bp(mobile){
		.column{border-right:none;margin-bottom:40px;border-bottom:1px solid $lt_green;padding-bottom:40px;
			h2,p{min-height:auto;max-width:100%;}
			&:nth-child(n+4){margin-bottom:0px;border-bottom:none;}
			img{max-width:80px;}
		}
	}
}

.background-img-text{
	@include bp(sm-tablet){text-align:center;
		.text{margin:0 auto;background-color:rgba(255,255,255,.7);padding:20px;
			p{max-width:100%;}
		}
	}
}

.twitter-feed{
	@include bp(mobile){position:relative;
		.next{right:10px;}
		.prev{left:10px;}
		.main-wrap{position:initial;}
		li p{max-width:70%;}
	}
}

#team-members{
	@include bp(mobile){
		.list-trigger{font-size:18px;}
		.team-list{
			img{float:left;width:35%;height:auto;margin-right:20px;}
			.employee{padding:0 0 30px;overflow:auto;margin-bottom:30px;border-bottom:1px solid $grey;min-height:auto;}
			h2{font-size:16px;}
			p{font-size:13px;line-height:20px;}
		}
	}
}

#post-modal{
	@include bp(tablet){width:90vw;height:90vh;}
	@include bp(mobile){padding:30px;
		img{float:none;margin:0 0 15px 0;}
	}
}

.jump-links, .services-links{
	@include bp(mobile){padding-right:0.9375rem;padding-bottom:30px;
		nav{overflow-x:scroll;white-space:nowrap;
			a{padding-right:15px;font-size:12px;padding:7px;font-size:12px;border-right:none;}
		}
	}
}

.services-links{
	@include bp(mobile){display:none;}
}

.two-column-product-details{
	@include bp(mobile){
		.info-container .product{min-height:auto;}
	}
}

.company-top{
	@include bp(mobile){text-align:center;margin-right:0;margin-left:0;
		.quicklinks{border-left:none;}
		.main-content{margin-bottom:30px;}
	}
}

.values{
	@include bp(mobile){padding:30px 0 0;margin-right:0;margin-left:0;
		h1{padding:0 15px;}
		h2,p{max-width:100%;}
		p{min-height:initial;margin-bottom:35px;}
		&.green-background p{min-height:auto;}
	}
}

.inline-video{
	@include bp(mobile){
		.vid-info{text-align:center;margin-bottom:20px;}
	}
}

.news-events{
	@include bp(mobile){
		.event{border-right:none;margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid $grey;min-height:auto;}
		p{max-width:100%;}
		.news-content{min-height:auto;}
	}
}

.product-header{
	@include bp(mobile) {text-align:center;padding:20px 0;
		.product-tagline{border-right:none;
			h1{font-size:24px;margin-left:0px;line-height:32px;}
		}
		.product-icon img{margin-left:0px;max-width:50%;}
	}
}

.product-callout{
	@include bp(mobile){
		.product-column{min-height:auto;text-align:center;padding-bottom:30px;padding-top:30px;border-bottom:2px solid green;border-right:none;
			&:first-child{padding-top:0px;}
			&:nth-child(3){border-bottom:none;}
		}
	}
}

.what-we-do-content{
	@include bp(mobile) {
		.slide-container{padding-left:0px;margin-top:30px;}
		.slide-triggers{padding-left:0.9375rem;border-right:none;display:none;background:$blue;padding-top:20px;padding-bottom:10px;
			li{color:$white;
				&.active{color:$white;}
			}
		}
		.mobile-menu-trigger{display:block;display:block;padding:10px;background:$off_grey;
			p{color:$blue;font-size:16px;display:inline-block;}
			i{display:inline-block;float:right;font-size:20px;transition:all .2s ease-in-out;
				&.flipped{@include transform(rotate(180deg));}
			}
		}
	}
}

.contact{
	@include bp(mobile){
		.form-fields{border-right:none;margin-bottom:60px;padding-right:0.9375rem;}
		.contact-content{padding-top:30px;}
		.contact-info{padding-left:0.9375rem;
			p{max-width:100%;}
		}
	}
}

/* ================== */
/* === FOOTER ======= */
/* ================== */

footer{
	@include bp(sm-tablet){
		.social a{width:30px;height:30px;}
		nav{margin-left:0px;margin-top:10px;width:85%;
			ul{top:auto;@include transform(none);}
			li{display:block;padding:20px 0;border-bottom:1px solid $white;
				&:last-of-type{border-bottom:none;}
			}
		}
	}
}
