/* ================== */
/* === BASE ========= */
/* ================== */

@include bp(mobile){
	h1{font-size:24px;line-height:32px;}
}

/* ================== */
/* === HEADER ======= */
/* ================== */

header{
	@include bp(sm-tablet){
		svg{width:200px;height:auto;}
		nav{display:none;}
	}
}

/* ================== */
/* === LAYOUT ======= */
/* ================== */

/* ================== */
/* === MODULES ====== */
/* ================== */

.slider{
	@include bp(tablet){
		.slide-overlay{display:none;}
	}
}

.full-text{
	@include bp(mobile){
		p{max-width:100%;}
	}
}

.three-col-icon{
	@include bp(mobile){
		.column{border-right:none;margin-bottom:40px;border-bottom:1px solid $lt_green;padding-bottom:40px;
			h2,p{min-height:auto;}
			&:nth-child(n+4){margin-bottom:0px;border-bottom:none;}
		}
	}
}

.background-img-text{
	@include bp(sm-tablet){text-align:center;
		.text{margin:0 auto;background-color:rgba(255,255,255,.7);padding:20px;
			p{max-width:100%;}
		}
	}
}

.twitter-feed{
	@include bp(mobile){position:relative;
		.next{right:10px;}
		.prev{left:10px;}
		.main-wrap{position:initial;}
		li p{max-width:70%;}
	}
}

#team-members{
	@include bp(mobile){
		.list-trigger{font-size:18px;}
		.team-list{
			img{float:left;width:35%;height:auto;margin-right:20px;}
			.employee{padding:0 0 30px;overflow:auto;margin-bottom:30px;border-bottom:1px solid $grey;}
			h2{font-size:16px;}
			p{font-size:13px;line-height:20px;}
		}
	}
}

#post-modal{
	@include bp(tablet){width:90vw;height:90vh;}
	@include bp(mobile){padding:30px;
		img{float:none;margin:0 0 15px 0;}
	}
}

.company-top{
	@include bp(mobile){text-align:center;
		.jump-links{padding-right:0.9375rem;margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid $grey;margin-bottom:30px;
			nav{overflow-x:scroll;white-space:nowrap;
				a{padding-right:15px;font-size:12px;}
			}
		}
		.quicklinks{padding-bottom:30px;border-bottom:1px solid $grey;border-left:none;}
	}
}

#values{
	@include bp(mobile){
		h1{padding:0 15px;}
		h2,p{max-width:100%;}
		p{min-height:initial;margin-bottom:35px;}
	}
}

.inline-video{
	@include bp(mobile){
		.vid-info{text-align:center;margin-bottom:20px;}
	}
}

/* ================== */
/* === FOOTER ======= */
/* ================== */

footer{
	@include bp(sm-tablet){
		.social a{width:30px;height:30px;}
		nav{margin-left:0px;margin-top:10px;width:85%;
			ul{top:auto;@include transform(none);}
			li{display:block;padding:20px 0;border-bottom:1px solid $white;
				&:last-of-type{border-bottom:none;}
			}
		}
	}
}
